.git
.git/**
.mimics_runtime
.mimics_runtime/**
nninteractive_env
nninteractive_env/**
wheels
wheels/**
pyqt5_wheels
pyqt5_wheels/**
**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
**/.DS_Store
**/*.zip
**/*.tar
**/*.tar.gz
external/dinov3-medical-seg/models
external/dinov3-medical-seg/models/**
external/dinov3-medical-seg/docs
external/dinov3-medical-seg/docs/**
external/dinov3-medical-seg/tests
external/dinov3-medical-seg/tests/**
external/dinov3-medical-seg/work
external/dinov3-medical-seg/work/**
external/nninteractive-finetune/validation
external/nninteractive-finetune/validation/**
external/nninteractive-finetune/tests
external/nninteractive-finetune/tests/**
external/nninteractive-finetune/work
external/nninteractive-finetune/work/**
docs/MimicsHelp_MD
docs/MimicsHelp_MD/**
